:root{
    --pink: #ffb39b;
        --yellow: #fabb19;
        --green: #17875a;
        --red: #ff5f5f;
        --turquoise: #00ced4;
        --blue-light: #90afdd;
        --blue: #5d73a3;
        --blue-dark: #314a6d;
        --navy: #14303f;
        --grey-med: #b5bac6;
        --grey-light: #ebecf0;
        --dark: #2a2a22;
        --grey-dark: grey;
        --pink-dark: #f955f2;

    }
    * {
        margin: 0;
        padding: 0;
        
    }
     *,*::before,*::after {
      box-sizing: inherit;
    }
    /*  Globales **/
    html {
        font-size: 62.5%;   

    }
    body {
        background-color: var(--grey-light);
        font-size: 16px; /* 1rem = 10px */
    }
    main{
        width: 100vw;
        height: 100vh;

    }
    .main_img--polaroid{
width: 10rem;
    }
    .main_img{
        width: 6rem;
    }
    .img_main--ventanaNegra{
        width: 42rem;
        position: absolute;
        z-index: 2;
        top: 1%;
        left: 35%;
    }
    .main_img--fondo{
        width: 100vw;
        height: 99vh;
    }
    .main_img_interruptorPared{
        position: absolute;
        z-index: 2;
        width: 10rem;
        top: 60%;
        left: 2%;
        border: 20px sólido #808080;
        cursor: pointer;
    }
    /* ACORDEON*/
    .imga{
        position: absolute;
        z-index: 2;
        top:54%;
        left: 26%;

    }
    .main_img--acordeon{
        position: absolute;
        z-index: 4;
        top: 57%;
        left: 28%;
        width: 4rem;
        
    }
     /* BATERIA*/
    .imgb {
        position: absolute;
        z-index: 2;
        top: 15%;
        left: 7%; 
    }
    .main_img--bateria{
        position: absolute;
        z-index: 2;
        top: 21%;
        left: 8.5%; 
        width: 6rem;
    }
     /* CONTRABAJO*/
    .imgc{
        position: absolute;
        z-index: 2;
        top: 10%;
        left: 88%;
    }
    .main_img--contrabajo{
        position: absolute;
        z-index: 2;
        top: 12.5%;
        left: 90%;
        width: 4rem;
    }
     /* ELECTRICA*/
    .imgd{
        position: absolute;
        z-index: 2;
        top: 10%;
        left: 74%; 
    }
    .main_img--electrica{
        position: absolute;
        z-index: 2;
        top: 13%;
        left: 76%;  
        width: 5rem;
        
    }
     /* GUITARRA*/
    .imge{
        position: absolute;
        z-index: 2;
        top: 30%;
        left: 70%; 
    }
    .main_img--guitarra{
        position: absolute;
        z-index: 2;
        top: 33%;
        left: 72%; 
        width: 5rem;
    }
     /*SAXOFON */
    .imgf{
        position: absolute;
        z-index: 2;
        top: 54%;
        left: 17%; 
    }
   
    .main_img--saxofon{
        position: absolute;
        z-index: 2;
        top: 57%;
        left: 19.5%; 
        width: 3.5rem;
    }
     /* TAMBOR*/
    .imgg{
        position: absolute;
        z-index: 2;
        top: 15%;
        left: 15%; 
    }
    .main_img--tambor{
        position: absolute;
        z-index: 2;
        top: 18%;
        left: 17%; 
        width: 5rem;
    }
     /*TROMPETA */
    .imgh{
        position: absolute;
        z-index: 2;
        top: 54%;
        left: 8%; 
    }
    .main_img--trompeta{
        position: absolute;
        z-index: 2;
        top: 57%;
        left: 10%;
        width: 4.5rem;
    }
     /* VIOLIN*/
    .imgi{
        position: absolute;
        z-index: 2;
        top: 30%;
        left: 84%; 
    }   
    .main_img--violin{
        position: absolute;
        z-index: 2;
        top: 34%;
        left: 86.5%; 
        width: 4rem;
    }
    .main_img--familiaCuerda{
        width: 15rem;
        position: absolute;
        top: 49%;
        left: 80%;
        z-index: 11;
     }
    .main_img--familiaViento{
        width: 15rem;
        position: absolute;
        top: 40%;
        left: 10%;
        z-index: 11;  
    }
    .main_img--familiaPercusion{
        width: 15rem;
        position: absolute;
        top: 3%;
        left: 10%;
        z-index: 11;
    }

    
    
  