:root{
    --pink: #ffb39b;
        --yellow: #fabb19;
        --green: #17875a;
        --red: #ff5f5f;
        --turquoise: #00ced4;
        --blue-light: #90afdd;
        --blue: #5d73a3;
        --blue-dark: #314a6d;
        --navy: #14303f;
        --grey-med: #b5bac6;
        --grey-light: #ebecf0;
        --dark: #2a2a22;
        --grey-dark: grey;
        --pink-dark: #f955f2;
    
    }
    * {
        margin: 0;
        padding: 0;
        
    }
     *,*::before,*::after {
      box-sizing: inherit;
    }
    /*  Globales **/
    html {
        font-size: 62.5%;
        
    }
    body {
        background-color: var(--grey-light);
        font-size: 16px; /* 1rem = 10px */
    }
    main{
        width: 100vw;
        height: 100vh;
        
    }
    .img_main--ventanaNegra{
        width: 30rem;
        position: absolute;
        z-index: 2;
        top: 15%;
        left: 40%;
    }
    .main_img--fondo{
        width: 100vw;
        height: 99vh;
    }
    .main_img_interruptorPared{
        position: absolute;
        z-index: 2;
        width: 10rem;
        top: 60%;
        left: 2%;
        border: 20px sólido #808080;
        cursor: pointer;
    }
    .imga{
        position: absolute;
        z-index: 2;
        top: 10%;
        left: 1%;

    }
    .imgb{
        position: absolute;
        z-index: 2;
        top: 2%;
        left: 20%; 
    }
    .imgc{
        position: absolute;
        z-index: 2;
        top: 40%;
        left: 13%;
    }
    .imgd{
        position: absolute;
        z-index: 2;
        top: 40%;
        left: 25%; 
    }
    .imge{
        position: absolute;
        z-index: 2;
        top: 7%;
        left: 65%; 
    }
    .imgf{
        position: absolute;
        z-index: 2;
        top: 25%;
        left: 75%; 
    }
    .imgg{
        position: absolute;
        z-index: 2;
        top: 2%;
        left: 85%; 
    }
    .imgh{
        position: absolute;
        z-index: 2;
        top: 44%;
        left: 65%; 
    }
    .imgi{
        position: absolute;
        z-index: 2;
        top: 40%;
        left: 90%; 
    }
    .main_img--acordeon{
        position: absolute;
        z-index: 4;
        top: 13%;
        left: 2%; 
        width: 10rem;
    }
    
    
    .ff{
        position: absolute;
        z-index: 56;
        mix-blend-mode: multiply;
        top: 5%;
        left: 80%;
    }